server {
    listen 80;
    server_name localhost;
    root /usr/share/nginx/html;
    index index.html;

    location ${VITE_BASE_URL} {
        alias /usr/share/nginx/html/;
        try_files $uri $uri/ ${VITE_BASE_URL}index.html;
    }

    location = /favicon.svg {
        access_log off;
        log_not_found off;
    }
}
